<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335511810455-q7e3j93r8fmdkj3oa7jbbcrakcbmcav2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335511810455-q7e3j93r8fmdkj3oa7jbbcrakcbmcav2</string>
	<key>API_KEY</key>
	<string>AIzaSyDh5l6I-MkKV2DENNbi-mU0dH0H-1_jZYM</string>
	<key>GCM_SENDER_ID</key>
	<string>335511810455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KevinWoodsDevelopment.KevinWood.Telepic</string>
	<key>PROJECT_ID</key>
	<string>telepic-33a33</string>
	<key>STORAGE_BUCKET</key>
	<string>telepic-33a33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335511810455:ios:090a47438ef0ed45</string>
	<key>DATABASE_URL</key>
	<string>https://telepic-33a33.firebaseio.com</string>
</dict>
</plist>